@media (max-width: 639px) {
   #app {
      width: 100%;
   }
}

:root {
   --AccentColor: #41b883;
   --AccentLightColor: #97e8c4;
   --ForegroundColor: #c5c5c5;
   --ForegroundColorLight: #929292;
   --BackgroundColor: #1a1a1a;
   --BackgroundAlternateColor: #242424;
   --BackgroundAlphaColor: #41b8833d;
   --ArticleBorder: 1px solid var(--ForegroundColorLight);
}

* {
   box-sizing: border-box;
}

h1,
h2,
p {
   margin: 0;
   padding: 0;
}

body {
   --Padding: 20px;
   margin: 0;
   padding: var(--Padding);
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   line-height: 1.75;
   -moz-osx-font-smoothing: grayscale;
   background: var(--BackgroundColor);
   -webkit-tap-highlight-color: transparent;
   color: var(--ForegroundColor);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
}

main {
   width: 100%;
}

h2 {
   font-size: 1.25rem;
   margin: 0;
}

footer {
   font-size: 0.865rem;
}

.AppHeader {
   margin-bottom: 70px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.AppHeader h1 {
   font-size: 2rem;
}

.AppHeader svg {
   fill: var(--ForegroundColor);
   width: 40px;
   height: 40px;
}

.AppHeader a:hover svg {
   fill: var(--AccentColor);
}

.Header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px;
}

.HeaderTitle {
   display: flex;
   flex-direction: column;
   gap: 0;
   margin: 0;
   padding: 0;
}

.HeaderTitle > p {
   text-transform: uppercase;
   font-size: 0.725rem;
   color: var(--AccentColor);
   margin: 0;
   display: flex;
   gap: 0.5rem;
   align-items: center;
}

.ActionButton {
   background: none;
   cursor: pointer;
   margin: 0;
   display: flex;
   align-items: center;
   color: var(--AccentColor);
   font-weight: 700;
   border: 1px solid var(--AccentColor);
   padding: 0.3rem 0.5rem;
   border-radius: 7px;
   transition: all 150ms ease-out;
}

.ActionButton:hover {
   background: var(--BackgroundAlphaColor);
   color: var(--AccentLightColor);
}

.Panel {
   width: 100%;
   font-size: 1rem;
   color: var(--ForegroundColor);
   text-align: left;
   font-weight: 600;
}

.Panel:hover {
   color: var(--AccentColor);
}

.Active {
   color: var(--AccentColor);
}

.CodeLink {
   white-space: nowrap;
   font-size: 0.925rem;
   color: var(--AccentColor);
}

.CodeLink:hover {
   color: var(--ForegroundColor);
}

.Wrapper {
   margin-bottom: 80px;
}

.Section {
   background: var(--BackgroundAlternateColor);
   width: 100%;
   max-width: 600px;
   border-top: var(--ArticleBorder);
   margin: 0;
}

.Section:last-of-type {
   border-bottom: var(--ArticleBorder);
}

.Section button {
   width: 100%;
   padding: 20px 10px;
   border: none;
   background: none;
   cursor: pointer;
}

.NestedCollapse {
   margin: 0 20px 20px;
   border-top: var(--ArticleBorder);
   border-bottom: var(--ArticleBorder);
}

.CollapseContent {
   padding: 0 10px 10px;
   margin: 0;
   color: var(--ForegroundColorLight);
   font-size: 1rem;
}

@media (min-width: 640px) {
   main {
      width: 600px;
   }

   h2 {
      font-size: 1.5rem;
   }

   footer {
      font-size: 0.925rem;
   }

   .Panel {
      font-size: 1.125rem;
   }

   .Section button {
      padding: 20px 10px;
   }

   .CollapseContent {
      padding: 0 20px 20px;
      margin: 0;
      color: var(--ForegroundColorLight);
   }

   .AppHeader h1 {
      font-size: 2.5rem;
   }
}
