name: Chrome Tests

on:
   push:
   workflow_call:

jobs:
   cypress-ct:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v4
         - uses: actions/setup-node@v4
           with:
              node-version: 22
         - uses: pnpm/action-setup@v4
           name: Install pnpm
           with:
              version: 10.26.2
              run_install: false
         - name: Install deps
           run: pnpm i
         - name: Install Cypress binaries
           run: pnpm dlx cypress install
         - name: Chrome tests
           run: pnpm test:chrome
